:root {
  /* COLORS */
    --background-color: #3D065B;
    --accent-color: #F99A26;
    --accent-secondary-color: #19CEA3;
    --accent-soft-color: #989494;
    --regular-color: #ECEAE5;
    --regular-secondary: #000;

  /* SPACES */
    --s-content: 460px;
}
